@model Carros.Models.ConsumoCombustivel

@{
    ViewData["Title"] = "Create";
}

<h1>Novo Carro</h1>

<h4>Informe os dados de consumo de combustível</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Capacidade" class="control-label"></label>
                <select asp-for="Capacidade" class="form-control">
                    <option value="50" selected>50 litros</option>
                    <option value="55">55 litros</option>
                    <option value="40">40 litros</option>
                </select>
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portador" class="control-label"></label>
                <input asp-for="Portador" class="form-control" />
                <span asp-validation-for="Portador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CombustivelAtual" class="control-label"></label>
                <input asp-for="CombustivelAtual" min="0" max="40" step="1" class="form-control" value="0" disabled />
                <span asp-validation-for="CombustivelAtual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
